/******************************Tag Styles******************************************************************/


h1{
    margin: 0px;
}

body{
    margin: 0px;
}








/******************************Class Styles******************************************************************/


.container {
   
    

}
.top_container{
    background-color: #A5F1E9;
}

.middle_container{
    background-color: #7FE9DE;
    height: 100px;

}

.bottom_container{
    background-color: #FFF6BF;
    height: 100px;
}







/******************************Id Styles******************************************************************/
