/******************************Tag Styles******************************************************************/


h1{
    margin: 0 ;
   
}

body{
    margin: 0px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}








/******************************Class Styles******************************************************************/
.secondCloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.topCloud {
    position: absolute;
    right:300px;
    top:50px;
  
}

.top_container{
    background-color:#E3FDFD ;
    position: relative;
    padding-top: 100px;

} 




/******************************Id Styles******************************************************************/
